#忽略控制管理软件svn的目录
.svn/

#忽略自己eclipse中的个人设置
.myeclipse/

#忽略class文件

*.class
WEB-INF/classes/cn/nit/dao/
WEB-INF/classes/cn/nit/service/
WEB-INF/classes/cn/nit/action/
WEB-INF/classes/cn/nit/util/
WEB-INF/classes/cn/nit/pojo/
WEB-INF/classes/cn/nit/bean/
WEB-INF/classes/cn/nit/configuration/

.classpath

.mymetadata