@charset "utf-8";
/* CSS Document Download by http://www.codefans.net*/
body{margin:0; padding:0; font-size:12px; font-family:"Microsoft YaHei","微软雅黑",Verdana, Geneva, sans-serif; background-color:#eee;background-image:url(../images/header_bg.png); background-repeat:repeat-x;}
img{border:none}
ul,li,ol{padding:0; margin:0; list-style:none}
.clear{clear: both}

.header{width:100%; height:150px; background-color:#F0FFFF; background-repeat:repeat-x; overflow:visible; border-bottom-width:5px; border-bottom-style:solid; border-bottom-color:black;}
.header_UserInfo{width:1260px;height:150px; background-color:#F0FFFF; background-repeat:no-repeat; background-position:0 0; overflow:hidden}

.left_nav{float:left; width:220px; min-height:800px; background-image:url(../images/left_nav_bg.png); background-repeat:repeat-y; background-position:right 0; padding-top:20px;}
.menu_fold{width:219px; height:29px; background-color:#87CEFA; background-repeat:repeat-x; background-position:0 0; color:white; font-weight:bold; font-size:14px; cursor:pointer; text-align:center; position:relative; border:1px solid #fff; border-right:none}
.menu_fold_icon{display:block;width:12px; height:13px; background-image:url(../images/close_icon.png); background-position:0 0; background-repeat:no-repeat; position:absolute; right:7px;bottom:8px;}

.root_menu_top{width:220px;height:5px; background-repeat:no-repeat;}
.root_menu_bottom{width:220px;height:5px; background-repeat:no-repeat;}
.root_menu_middle{width:200px; padding-top:5px; padding-bottom:5px;padding-left:20px;}
.root_menu_title{font-size:16px;background-image:url(../images/open_icon.png); background-position:0 5px; background-repeat:no-repeat; width:200px; height:25px; padding-left:20px; cursor:pointer}

.sub_menu{font-size:12px; display:none; line-height:25px; padding-left:20px}
.sub_menu_li{background-image:url(../images/key_icon.png); background-repeat:no-repeat; background-position:0 7px;; padding-left:15px; }

a:link{color:#333; text-decoration:none}
a:visited{color:#333;text-decoration:none}
a:hover{color:#830051; text-decoration:underline}
a:active{color:#830051; text-decoration:underline}

#right_content{width: 1040px; min-height: 800px; background-color: #eee; border: 0px;}

.top_menu{position:absolute; margin: -29px 0px 0 220px;  height: 30px; clear: both; }
<!--
table{border-collapse: collapse;}
table td{border-spacing: 0px;}

.t_menu, .t_menu_current, .t_menu b, .t_menu_current b, .t_menu strong, .t_menu_current strong { display: block; height: 25px;}
.t_menu{cursor: pointer;}
.t_menu_current strong {float: left; display: block; line-height: 26px;  white-space: nowrap; text-overflow: ellipsis; font-weight: 400;overflow: hidden;}
.t_menu_current strong {color: #FFF;}
.t_menu_current  b{ float:left;  width: 10px;}
-->
 #tabs { margin:0; padding:0; list-style:none; overflow:hidden; }
 #tabs li { float:left; display:block; background-color:#bbb; height:26px; line-height: 26px; width: 150px; font-weight: 400;overflow: hidden; margin-right: 5px;}
 #tabs li a { color:#fff; text-decoration:none; float: left; width: 130px;}
 #tabs li.current { background-color:#4169E1;height:26px; line-height: 26px; width: 150px;font-weight: 400;overflow: hidden; margin-right: 5px;}
 #tabs li.current a { color:#000; text-decoration:none; float: left;width: 130px;}
 #tabs li a.remove { color:#DC143C; float:right;  width: 15px; }
